@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@font-face {
    font-family: Kapakana;
    src: url("../fw/Kapakana.ttf");
}
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    
    /* aspect-ratio: ; */
}

.container {
    margin: 0 auto;

    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;

    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    max-width: 430px;
    max-height: 100vh;

    background: url('../img/bg.jpg') no-repeat;
    /* background-size: contain; */

    border: 1px solid #FF6B6B;
}
.header {
}
.title {
    text-align: center;
    font-family: Kapakana;
    font-size: 48px;
    font-weight: 400;
}
.title::after {
    content: '';

    display: block;

    margin: 5px auto 25px;

    width: 79px;
    height: 1px;

    background: #000;
}
.title__header {
}
.main {
}
.section {
}
.gallery {
}
.grid {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    grid-template-areas: 
    "gallery__item-1 gallery__item-3"
    "gallery__item-2 gallery__item-3"
    "gallery__item-4 gallery__item-4";

    gap: 20px;

    font-family: Montserrat;
    font-size: 13px;
    font-weight: 200;
}
#touch {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-25%, -25%);

    opacity: 0;

    transition: all .5s ease;
}
#heart {
    font-size: 18px;
}
.gallery__item {
    /* padding: 25px; */

    position: relative;

    background: #000;
    border-radius: 20px;

    overflow: hidden;
}
.gallery__item::after {
    content: '';

    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #FF7B7B;
    opacity: 0.0;

    transition: all .5s ease;
}
.gallery__item:hover::after {
    opacity: 0.8;
    backdrop-filter: blur(15px);
}
.gallery__text {
    position: absolute;

    padding: 20px;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    color: #fff;

    z-index: 2;

    cursor: default;

    opacity: 0;

    transition: all .8s ease;

    overflow: overlay;

    backdrop-filter: blur(5px);
}
.gallery__item:hover .gallery__text {
    opacity: 1;
}
.gallery__item-1 {
    grid-area: gallery__item-1;

    /* width: 185px;
    height: 215px; */

    background: url('../img/Mask\ group-1.png') no-repeat center top/cover;
}
.gallery__item-2 {
    grid-area: gallery__item-2;

    /* width: 185px;
    height: 215px; */

    background: url('../img/Mask\ group-3.png') no-repeat center bottom/cover;
}
.gallery__item-3 {
    grid-area: gallery__item-3;

    /* width: 185px; */

    background: url('../img/Mask\ group.png') no-repeat center bottom/cover;
}
.gallery__item-4 {
    grid-area: gallery__item-4;

    /* width: 100%;
    height: 340px; */

    background: url('../img/Mask\ group-2.png') no-repeat center bottom/cover;
}